{% extends "html.html" %}

{% block content %}
<ul class="gel-index">
	{% for gel in gels %}
	<li class="gel">
		<div class="box">
			<div class="swatch" style="background:#{{gel.gelref.colour}}"></div>
			<h2>{{gel}} - {{gel.gelref.colour_description}}</h2>
			<p>{{gel.gelref.description}}</p>
		</div>
	</li>
	{% endfor %}
</ul>
{% endblock content %}

{% block search %}
<form method="get" action="search" name="filter">
	<input type="text" name="s" value="{{formdata.s}}"/>
	<select name="f" onchange="document.filter.submit();">
		<option value="cut" {% ifequal formdata.f "cut" %} selected="selected" {% endifequal %}>Cut Gels only</option>
		<option value="sheet" {% ifequal formdata.f "sheet" %} selected="selected" {% endifequal %}>Sheet only</option>
		<option value="both" {% ifequal formdata.f "both" %} selected="selected" {% endifequal %} {% ifequal formdata.f "" %} selected="selected" {% endifequal %}>Both</option>
	</select>
</form>
{% endblock search %}